* {
 margin: 0;
 padding: 0;
 box-sizing: border-box; 
}

header {
  height: 70px;
  background-color: #EC715F;
}

.header-content {
  display: flex;
   width: 1024px;
   margin: auto;
}

header nav {
  margin: auto 0 auto auto;
  right: 0px;
}

header nav ul li {
  display: inline-block;
  color: #FAFAFA;
  font-size: 16px;
  margin: auto 30px;
  text-align: right;
}

.logo_img img {
  height: 70px;
}